body {
    background-color: #f5f6fa;
}

.loginForm {
    margin-top: 10em;
}

.loginFields {
    margin-bottom: 3em;
}

.loginLabel {
    text-align: left;
    padding-left: 4em;
    font-size: 1.2em;
}
.statbox {
    border: 1px gray;
}