{% extends 'base.html.twig' %}

{% block title %}Erreur !{% endblock %}

{% block body %}
<h1>JSON Statacar</h1>

<div class="alert alert-danger" role="alert">
    <h2>Erreur !</h2>
    <p>{{ error }}</p>
</div>



{% endblock %}
