{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h1>JSON Statacar</h1>
    <h2>L'appli qui facilite le transit</h2>

    <button class="btn btn-dark"><a href="{{ path('user') }}">Se connecter</a></button>

{% endblock %}
