{% extends '_base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h1>JSON Statacar</h1>
    <h2>L'appli qui facilite le transit</h2>
<a href="{{ path('user') }}"><h3>Se connecter</h3></a>
{% endblock %}
