{% extends 'base.html.twig' %}
{% block menu %}
    {{ include('menuAdmin.html.twig') }}
{% endblock %}
{% block body %}
<H1>Interface d'administration</H1>
{% endblock %}

{% block title %}
Administration
{% endblock %}

