{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Bienvenue {{ app.user.prenom ~' '~ app.user.nom }}</h1>
    <br>
    {%  if not app.user.hasActiveDeplacement %}
    <button class="btn btn-primary" href="{{ path('new-deplacement') }}">Nouveau déplacement</button>
    {% else %}
    <button class="btn btn-primary" href="{{ path('back-deplacement') }}">Terminer votre déplacement</button>
    {%  endif %}
{% endblock %}
