{% extends '_base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Bienvenue {{ app.user.prenom ~' '~ app.user.nom }}</h1>
    <br>
    <a href="{{ path('new-deplacement') }}">Nouveau déplacement</a>
{% endblock %}
