{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}
{% block menu %} {{ include('menuAdmin.html.twig') }}{% endblock %}
{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Retour à la liste</a>
{% endblock %}
